header{
    .merriweather-bold {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
      }
}

.input-field input{
  width: 100%;
  height: 40px;
  padding: 8px;
  margin-bottom: 8px;
  font-size: 15px;
}

.button-field button{
  width: 100%;
  height: 40px;
  font-size: 15px;
}

.btn-secondary{
  margin-bottom: 8px;
}

#todays-weather{
  margin-bottom: 15px;
}